---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<h2>Manuscripts in Preparation</h2><hr />
<ul>
  <li>Han, Bing, Liying Luo, and Yan-Jhu Su. "Intergenerational Educational Status and Depressive Symptoms: Gender as a Moderating Status Characteristic."</li>
  <li>Han, Bing, Liying Luo, and Yan-Jhu Su. "Masculine Presentation and Feeling Older: Gender Performance and Subjective Age in Midlife."</li>
  <li>Mize, Trenton D., Bing Han, Long Doan, and J. Scott Long. "Comparing Marginal Effects across Models Using the <code>mecompare</code> Command."</li>
  <li>Chen, Minne, Bing Han, and Yihan Liu. "Understanding the Impact of Family Caregiving and COVID-19 Stress on Mental Health Outcomes in Co-residing Aging Couples."</li>
  <li>Marceau, Kristine, Bing Han, Laura Schwab Reese, Sharon Christ, James A. McCann, and Trenton D. Mize. "A Graduate Student Perspective on Methods Pedagogy in the Behavioral, Health, and Social Sciences."</li>
  <li>He, Ranran, Mingui Gao, and Bing Han. "How Do Social Network Characteristics Moderate the Association between Subjective Hearing Loss and Cognitive Decline in Later Life?"</li>
</ul>

<p>For software, data products, and conference presentations, see my <a href="/cv/">CV</a>.</p>


